{% extends 'Admin/index.html.twig' %}
{% block admin %}
    <section class="container w-10 table-responsive-lg">
        <table class="table w90">
            <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Année</th>
                <th scope="col">Biographie</th>
            </tr>
            </thead>
            {% for year, biographies in data %}
                {% for biography in biographies %}
                    <tr class="d-inline-table">
                        <th scope="row">{{ loop.parent.loop.index }}</th>
                        <td>{{ year }}</td>
                        <td>{{ biography.info }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </section>
{% endblock %}