{% extends 'adminLayout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
    <section class="admin row w-100">
        <div class="container col-10">
            {% block admin %}

            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block javascript %}
{% endblock %}