{% extends 'BiographyAdmin/index.html.twig' %}
{% block add %}
    <form action="/BiographyAdmin/Add" method="post" id="formAdd"></form>
    <tr class="cell" id="0">
        <th class="id" scope="row">Ajout</th>
        <td><form id="formAdd"><label for="year" hidden></label><input type="number" name="year" id="year" value="" form="formAdd"></form></td>
        <td class="cellinfo"><form id="formAdd"><label for="biography" hidden></label><textarea name="biography" id="biography" form="formAdd"></textarea></form></td>
        <td class="admArtLink option">
            <input type="hidden" name="control" value="add" id="add">
            <button class="btn" form="formAdd"><i class="fas fa-check"></i></button>
            <a class="btn" href="/BiographyAdmin/Index"><i class="fas fa-times"></i></a>
        </td>
    </tr>
    {% if errors.year is defined %}
        {% for error in errors.year %}
            <tr class="error">
                <td colspan="4">{{ error }}</td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
        {% for error in errors.biography %}
            <tr class="error">
                <td colspan="4">{{ error }}</td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
    {% endif %}
{% endblock %}