{% extends 'Admin/layout.html.twig' %}

{% block content %}
    <h1>Edit news {{ news.title }}</h1>
    {% include 'Item/_form.html.twig' %}
    <a href="/item/show/{{ item.id }}">Back</a>
{% endblock %}
