<div class="card text-center mb-3">
    <div class="card-header">
        Actualités
    </div>
    <div class="card-body">
        <div class="card-title">Expositions</div>
        <p class="card-text">Il n'y a actuellement pas d'expositions sur les œuvres de Roger Toulouse, mais la ville
            d'Orléans propose néanmoins d'autres expositions.</p>
        <a href="http://www.orleans-metropole.fr/1340/musees-expositions.htm" class="btn btn-primary card-btn">Voir les
            expositions</a>
    </div>
</div>
<hr/>