<div class="artwork">
    <div class="d-flex justify-content-center">
        <h2>Œuvres de Roger TOULOUSE</h2>
    </div>
    <div class="card-deck">
        {% for artwork in artworks %}
            {% include 'Artworks/_card.html.twig' %}
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="/artworks">Voir toutes les œuvres</a>
    </div>
</div>
</div>
