<div class="artwork">
    <div class="d-flex justify-content-center"><div><h2>Accédez au catalogue des oeuvres de Roger TOULOUSE</h2></div></div>
    <div class="card-deck">
    {% for artwork in artworks %}
        {% include 'Artworks/_card.html.twig' %}
    {% endfor %}
    </div>
</div>
