<footer class="page-footer font-small indigo">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/Home">Accueil</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#">Mentions légales</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/Association">Contact</a>
                </h6>
            </div>
        </div>
        <hr class="rgba-white-light">
    </div>
    <div class="footer-copyright text-center py-3">© 2020:
        <a href="https://wildcodeschool.com/"> WildCodeSchool.com</a>
        <span> by</span>
        <a href="https://github.com/Philippe-Naveilhan"> Philippe NAVEILHAN</a>
        <span>, </span>
        <a href="https://github.com/Tobe-Continued"> Julien MOULIN</a>
        <span>, </span>
        <a href="https://github.com/Tisserandmat"> Mathias TISSERAND</a>
        <span> et</span>
        <a href="https://github.com/benoitchocot"> Benoit CHOCOT</a>
        <span>.</span>
    </div>
</footer>