{% extends 'layout.html.twig' %}

{% block content %}
    <div class="bloc_details">
        <div class="title_details">
            <H2>Titre de l'oeuvre</H2>
            <p>More info - Date - Type</p>
        </div>
        <img src="public/assets/upload/image.jpg" Alt="title de l'oeuvre">
        <div class="descr_detail">
            <p>Toute la description de l'oeuvre... et plus si affinité...</p>
        </div>
    </div>
{% endblock %}
