<div class="sort-artworks">
    <div class="bloc-sort-artworks">
        <div class="bloc_sort_link">
            <a href="/artworks/select/1">Ses peintures</a>
            <a href="/artworks/select/2">Ses sculptures</a>
            <a href="/artworks/select/3">Ses illustrations</a>
            <a href="/artworks/select/4">Ses écrits</a>
            <a href="/artworks">Toute son oeuvre</a>
            <a href="/artworks/time/desc">À partir du plus récent</a>
            <a href="/artworks/time/asc">À partir du plus ancien</a>
        </div>
    </div>
</div>