<div class="sort-artworks">
    <div class="bloc-sort-artworks">
        <div class="bloc_sort_link">
            <a href="/artworks/select/?cat=c.id">INTEGRALITE DES OEUVRES</a>
            {% for category in categories %}
            <a href="/artworks/select/?cat={{ category.id }}">{{ category.category|upper}}</a>
            {% endfor %}
        </div>
    </div>
</div>