<div class="sort-artworks">
    <div class="bloc-sort-artworks">
        <div class="bloc_sort_link">
            <a href="/artworks">INTEGRALITE</a>
            {% for category in categories %}
            <a href="/artworks/select/{{ category.id }}">{{ category.category|upper ~ 'S'}}</a>
            {% endfor %}
            <a href="/artworks/time/desc">À partir du plus récent</a>
            <a href="/artworks/time/asc">À partir du plus ancien</a>
        </div>
    </div>
</div>