<div class="sort-artworks">
    <div class="bloc-sort-artworks">
        <div class="sort-artworks-title"></div>
        <div class="bloc_sort_link">
            <div class="sort_img_label">
                <img src="/assets/images/illustration.svg"><img src="/assets/images/peinture.svg"><img src="/assets/images/sculpture.svg"><img src="/assets/images/ecriture.svg"><br>
                <a href="/artworks">INTEGRALITE DES OEUVRES</a></div>
            {% for category in categories %}
                <div class="sort_img_label">
                <img src="/assets/images/{{ category.category }}.svg"><br>
                    <a href="/artworks/index/?cat={{ category.id }}">
                        {{ category.category|upper}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>