<div>
    Triez par catégorie :
    <a href="/artworks/select/1">Ses peintures</a>
        <a href="/artworks/select/2">Ses sculptures</a>
        <a href="/artworks/select/3">Ses illustrations</a>
        <a href="/artworks/select/4">Ses écrits</a>
        <a href="/artworks">Toute son oeuvre</a>
</div>