<div class="sort-artworks">
    <div class="bloc-sort-artworks">
        <div class="sort-artworks-title">Selection</div>
        <div class="bloc_sort_link">
            <a href="/artworks">INTEGRALITE DES OEUVRES</a>
            {% for category in categories %}
                <div>
                <img src="/assets/images/{{ category.category }}.svg">
                    <a href="/artworks/index/?cat={{ category.id }}">
                        {{ category.category|upper}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>