<div>
    Triez par catégorie :
    <ul>
        <li><a href=""></a>Peintures</li>
        <li><a href=""></a>Sculpture</li>
        <li><a href=""></a>Peintures</li>
        <li><a href=""></a>Peintures</li>
        <li><a href=""></a>Peintures</li>
        <li><a href=""></a>Peintures</li>
    </ul>
</div>