.adminArtworks{
    width: 1300px;
    margin: auto;
    margin-top: 32px;
    text-align: center ;
}

.adminArtworks table{
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-main);
}
.adminArtworks .id{
    text-align: center;
    width: 30px;
}
.adminArtworks table thead{
    position: sticky;
    top:60px;
    text-align: center;
}
.adminArtworks table tbody tr:nth-child(even){
    background-color: var(--color-light);
}
.adminArtworks table thead{
    background-color: var(--color-main) ;
    color: var(--color-light);
}
.adminArtworks img {
    width: 100px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.adminArtworks .carousel{
    text-align: center;
    background-color: var(--color-main);
    color: var(--color-light);
    text-decoration: none;
}

.adminArtworks .admArtLink{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100px;
}
.adminArtworks .admArtLink div{
    text-align: center;
    width: 100%;
    background-color: var(--color-main);
}

.addArtworks{
    color: var(--color-main);
}
.addArtworks .formContainer{
    display: flex;
    flex-wrap: wrap;
}
.addArtworks .label{
    text-align: right;
    width: 300px;
    padding-right: 24px;
}
.addArtworks .champs{
    width: 500px;
    text-align: left;
}
.addArtworks input,.addArtworks textarea,.addArtworks select{
    background-color: var(--color-light);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-main);
}
.addArtworks .select{
    height: 32px;
}
.addArtworks div{
    height:40px;
    padding-top: 8px;
}
.addArtworks .description {
    height: 150px;
}
/* update */
.upd_form_vertical{
    margin: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.updateArtworks .bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.confSuppr {
    display: none;
    top:0px;
    margin-left: -150px;
    left: 50%;
    color: var(--color-light);
    position:absolute;
    opacity: 0.9;
    background-color: var(--color-main);
    padding-top: 5px;
    width: 300px;
    height: 110px;
    text-align: center;
}
td form input{
    width: 100%;
}
.description textarea{
    width: 100%;
}
.updateArtworks input,.updateArtworks textarea,.updateArtworks select {
    background-color: var(--color-light);
    border-style: solid;
    border-color: var(--color-main);
    border-width: 0;
}
.updateArtworks .bloc_infos{
    text-align: left;
    padding-left: 0;
}
#carousel{
    width: 50px;
}
.updateArtworks .bloc_infos input, textarea{
    width: 400px;
}
.updateArtworks .bloc_img{
    text-align: right;
    padding-right: 0;
}
.updateArtworks{
    margin-left: 250px;
    width:1000px;
}
.updateArtworks label{
    padding-top: 8px;
}
.delete h2{
    background-color: var(--color-error);
    color: var(--color-light);
}