.artwork .card-deck{
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    justify-content: space-around;
    padding-bottom: 32px;
}
.artwork .card:nth-child(even){
    flex-direction: column-reverse;
}

.artwork .card{
    background-color: var(--color-light);
    color: var(--color-main);
    min-width: 250px;
    max-width: 350px;
    margin-top: 32px;
}
.artwork .card-body{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.artwork .card-text{
    margin : 24px 10px 32px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
}
.artwork .card-info{
    font-size: 10pt;
    font-weight: 600;
}
.artwork .card-title{
    padding : 24px 10px 32px 10px;
    background-color: var(--color-main);
    color: var(--color-light);
    font-weight: 800;
    font-size: 24pt;
}
.artworks .card-title{
    font-weight: 600;
    font-size: 1.3em;
}
.artwork .card .link a {
    border-style: solid;
    border-color: var(--color-main);
    border-width: 1px;
    border-radius: 2px;
    font-size: 3vmin);
    color: var(--color-main);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
    line-height: 24pt;
}
.artwork .card .link a:hover {
    color: var(--color-light);
    background-color: var(--color-main);
    transition: 150ms;
}
.artwork .card .link{
    display: flex;
    flex-wrap: wrap;
}

.artwork .card .link div{
    margin: auto;
}
.artwork .card-info{
    margin : 24px 10px 32px 10px;
}
.artwork .more_info{
    font-size: 10pt;
    font-weight: bold;
}
.sort-artworks{
    padding-top: 32px;
}
.bloc_sort_link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sort-artworks a{
    margin-top: 8pt;
    padding: 4pt;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-main);
    border-radius: 2pt;
    background-color: var(--color-light);
    color: var(--color-main);
}
.sort-artworks a:hover{
    text-decoration: none;
    border-radius: 2pt;
    background-color: var(--color-main);
    color :var(--color-light);
    transition: 300ms;
}
