.card-deck{
    margin-right: 0;
    margin-left: 0;
    align-items: inherit;
    padding-bottom: 32px;
}
.card:nth-child(even){
    flex-direction: column-reverse;
}

.card{
    background-color: var(--color-light);
    color: var(--color-main);
}
.card-body{
    text-align: center;
}
.card-text{
    margin-top: 24px;
    margin-bottom: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
}
.card-info{
    font-size: 10pt;
    font-weight: 600;
}
.card-title{
    font-weight: 800;
    font-size: 24pt;
}
