.top_page{
    background: var(--color-light);
    padding-top: 50px;
    height: 100%;
}
hr{
    width: 65%;
    color: var(--color-main);
    border: 1px solid;
    margin-bottom: 20px;
}
.card-text{
    background-color: var(--color-secondary);
    align-items: center;
    justify-content: center;

}
.card-text-admin{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}
.card-text-admin-bis{
    padding-left: 5px;
    padding-right: 5px;

}

h1{
    text-align: center;
    font-size: var(--sizeTitle);
    font-family: var(--font-title);
    color: var(--color-main);
    margin-bottom: 100px;
}
h2{
    text-align: center;
    font-size: var(--sizeTitle);
    font-family: var(--font-title);
    color: var(--color-main);
    border-radius: 7px;
    margin-left: 20px;
}
.card-top{
    background-color: var(--color-light);
    border-style: none;
    padding: 0px;
    align-items: flex-end;
}
.card-body{
    background: var(--color-main);
    color: var(--color-light);
    width: 100%;
    font-size: var(--font-text);
}
.card-img-top{
    background-color: var(--color-main);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: var(--color-light);
}
.card-title{
    color: var(--color-main);
}
.assoc_text {
    font-family: var(--font-text);
    font-size: var(--sizeText);
    background: var(--color-light);
    color: var(--color-main);
    margin-left: 10px;
    width: 100%;
}
.map{
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.roger{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 350px;
}
.contact-card{
    width: 100%;
    background: var(--color-secondary);
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.card-title{
    color: var(--color-main);
}
.contact-roger{
    color: var(--color-main);
    margin-bottom: 20px;
}
.card{
    padding: 0px;
    border: none;
}
.card h3{
    font-size: calc(var(--sizeText) * 1.5);
    font-family: var(--font-title);
}
.contact_title{
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
}
.form {
    background: var(--color-main);
    font-family: var(--font-text);
    color: var(--color-light);
    margin-bottom: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

form label {
    text-align: center;
    font-family: var(--font-text);
    color: var(--color-light);
}

form {
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}
.img-roger h3{
    color: var(--color-light);
    text-align: start;
}
.text-admin{
text-align: left;
    font-family: var(--font-text);
}
.update-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.update-btn a {
    background: var(--color-main);
}
.container-admin .admin-top{
    margin-top: 100px;
    margin-bottom: 30px;
}
.info-title-admin p{
    text-align: center;
    background: var(--color-main);
    font-family:var(--font-title);
    font-size: var(--sizeText);
    color: var(--color-light);
}
.info-title-admin {
    padding: 0px;
    border: 1px solid var(--color-main);
}
.card-infos-admin{
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    margin-top: -20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.admin-bottom h2{
    margin-bottom: 50px;
    margin-left: 0px;
    background: var(--color-main);
    color: var(--color-light);
    font-size: var(--sizeIntermediate);
    border-radius: 0px;

}
.row .admin-bottom{
    margin-top: 0px;
    border: 1px solid var(--color-main);
    margin-bottom: 50px;
}
.card-admin{
    border: 1px solid var(--color-main);
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    background: var(--color-secondary);
    font-family: var(--font-text);
}
.card-admin h3{
    text-align: center;
    background: var(--color-main);
    color: var(--color-light);
    margin: 0px;
}

.row .button{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.card-responsive-admin{
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-responsive-admin-top{
    margin-top: 30px;
}
.label-admin{
    font-family: var(--font-text);
}
.subhead{
    font-size:var(--sizeIntermediate);
}
.row h2{
    margin-bottom: 50px;
}