
.card{
    background-color: var(--color-secondary);
    border-style: none;

}
.card-body{
    color: var(--color-main);
}
.card-body p{
    color: var(--color-main);
}
.form{
    background: var(--color-main);
    border-radius: .25rem;
    font-family: var(--font-text);
    color: var(--color-light);
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}
form label{
    text-align: center;
    font-family: var(--font-text);
    color: var(--color-light);
}

p.lead{
    width: 100%;
}

form{
    padding: 10px;
    margin-bottom: 10px;
}

address h2{
    text-align: center;
    font-size: var(--sizeTitle);
    font-family: var(--font-title);
}
.contact_title{
    font-family: var(--font-title);
    text-align: center;
    font-size: var(--sizeTitle);
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}
.contact_title p{
    font-size: var(--sizeText);
}

@media screen and (max-width: 670px){
.main_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}
    .justify-content-around {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch
}
}