.card{
    background-color: var(--color-secondary);
    border-style: none;
}
.card h3{
    font-size: var(--sizeText);
    font-family: var(--font-text);
}

.form {
    background: var(--color-main);
    border-radius: .25rem;
    font-family: var(--font-text);
    color: var(--color-light);
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

form label {
    text-align: center;
    font-family: var(--font-text);
    color: var(--color-light);
}


form {
    padding: 10px;
    margin-bottom: 10px;
}
.contact_title {
    font-family: var(--font-title);
    font-size: var(--sizeTitle);
    text-align: center;
    height: 100px;
}
