.container{
    max-width: 100%;
    font-family: var(--font-text);
    padding: 0 0 50px 0;
    height: 100%;
}
.container h1{
    text-align: center;
    margin: 50px 0 50px 0;
    padding: 10px 0 20px 0;
    background-color: var(--color-main);
    color: var(--color-light);
    font-family: var(--font-title);
}
.headbio{
    background-color: var(--color-main);
    font-family: var(--font-title);
    color: var(--color-light);
}
.headbio p{
    background-color: var(--color-main);
    font-family: var(--font-text);
    color: var(--color-light);
}
.show{
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .headbio{
        background-color: var(--color-main);
        font-family: var(--font-title);
        color: var(--color-light);
        flex-direction: column;
    }
}