.homeadmin input {
    height: 50px;
}

.homeadmin .form-group {
    justify-content: space-around;
}
.homeadmin .show {
    font-size: var(--sizeText);
    color: var(--color-main);
    margin: var(--padding);
}

.homeadmin h2 {
    font-size: var(--sizeTitle);
    font-family: var(--font-text);
    color: var(--color-main);
}