.carousel-homepage .slide-title{
    font-family: var(--font-title);
    font-size: var(--sizeTitle);
    color: var(--color-light);
}

.carousel-homepage .slide-text{
    font-family: var(--font-text);
    font-size: var(--font-text);
    color: var(--color-light);
}

.news .card-header{
    font-family: var(--font-title);
    font-size: var(--sizeTitle);
    color: var(--color-text);
    background-color: var(--color-main);
}

.news .card-title{
    font-family: var(--font-text);
    font-size: var(--sizeText);
}

.news .card-text{
    font-family: var(--font-text);
}

.news .card-btn{
    font-family: var(--font-text);
    background-color: var(--color-main);
    color: var(--color-light);
    border: none;
}

.news .card-btn:hover{
    background-color: var(--color-main);
    color: var(--color-secondary);
}

.news .card-body{
    background-color: var(--color-secondary);
}

.news .card{
    border: none;
    padding: 0;
    margin-top: var(--padding-sm);
}

.news .card-one{
    border-radius: var(--border-radius);
}
