@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cabin:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Permanent+Marker&display=swap');
@import url('font-awesome.min.css');
@import url('navbar.css');
@import url('homepage.css');
@import url('footer.css');
@import url('artwork.css');
@import url('adminArtworks.css');
:root {
    /* Usely Fonts : */
    --font-title: 'Averia Sans Libre', cursive;
    --font-text: 'Cabin', sans-serif;
    --font-banner: 'Permanent Marker', cursive;
    /*  Usely Colors : */
    --color-main : #423B32;
    --color-secondary : #CCB79B;
    --color-light : #ffe4c2;
    --color-shadow : #80623B;
    --color-text : #FFC375;
    --color-error : #cb2e2e;
    /* Font Size : */
    --sizeText : 16pt;
    --sizeTitle : calc(3 * var(--sizeText));
    --sizeBanner : 8vmin;
    /* Border Radius */
    --border-radius : 8px;
    --border-radius-sm : calc(var(--border-radius) * 2);
    --border-radius-lg : calc(var(--border-radius) * 4);
    /* Padding */
    --padding : 20px;
    --padding-sm : calc(var(--padding) *2);
    --padding-lg : calc(var(--padding) *4);
}
html{
    position: relative;
    scroll-behavior: smooth;
    min-height: calc(100% - 180px);
}
body {
    background-color: var(--color-secondary);
}.container{
     font-family: var(--font-text);
 }
.container h1{
    font-size: calc(var(--sizeTitle));
    font-family: var(--font-title);
    text-align: center;
    color: var(--color-main);
}
.container-lg h1{
    font-size: calc(var(--sizeTitle));
    font-family: var(--font-title);
    text-align: center;
    color: var(--color-main);
}
h3{
    color: var(--color-main);
}
.link a {
    border-style: solid;
    border-color: var(--color-main);
    border-width: 1px;
    border-radius: 2px;
    font-size: 2vmin;
    color: var(--color-main);
    background-color: var(--color-light);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
    line-height: 24pt;
}
.link a:hover {
    color: var(--color-light);
    background-color: var(--color-main);
    transition: 150ms;
}
.link .active {
    color: var(--color-light);
    background-color: var(--color-main);
    transition: 150ms;
}
.link{
    display: flex;
    flex-wrap: wrap;
}

.link div{
    margin: auto;
}

.btn{
    outline: none;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    border-style: solid;
    border-color: var(--color-main);
    border-width: 1px;
    border-radius: 2px;
    font-size: calc(var(--sizeText) / 1.5);
    color: var(--color-main);
    background-color: var(--color-light);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
    line-height: 24pt;
}
.btn:hover{
    outline: none;
    color: var(--color-light);
    background-color: var(--color-main);
    transition: 150ms;
}
.btn:active{
    outline: none;
}
.btn:focus {
    outline: none;
}
.rgba-white-light{
    margin: 0 15%;
}
.leftNavBar{
    z-index: 2000;
}
.leftNavBar a{
    max-height: 30px;
}