{% extends 'Admin/index.html.twig' %}
{% block admin %}
    <section class="updateArtworks container">
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="name">Nom de l'oeuvre : </label>
                <input required type="text" name="name" id="name">
            </div>
            <div>
                <label for="date">Année de l'oeuvre : </label>
                <input type="text" name="date" id="date" min="1916" max="{{ 'now'|date('Y') }}">
            </div>
            <div>
                <label for="size">Taille : </label>
                <input type="text" name="size" id="size" ">
            </div>
            <div>
                <label for="more_info">Info en plus : </label>
                <input type="more_info" name="more_info" id="more_info">
            </div>
            <div>
                <label for="image">Image : </label>
                <input type="file"  name="image">
            </div>
            <div>
                <label for="category_id">Categorie : </label>
                <select id="category_id" name="category_id">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="description">Description : </label>
                <textarea name="description" id="description" rows="5" cols="40"></textarea>
            </div>
            <button class="btn btn-primary mt-5">Valider</button>
        </form>
    </section>
{% endblock %}