{% extends 'Admin/index.html.twig' %}

{% block admin %}
    <div class="adminNews">
        <h1>Ajouter une news</h1>
        {% include 'HomeAdmin/_form.html.twig' %}
        <a href="/HomeAdmin/index">Back</a>
    </div>
{% endblock %}
