{% extends 'Admin/index.html.twig' %}

{% block admin %}
    <div class="adminNews">
        <table>
            <thead>
            <tr>
                <td>Titre</td>
                <td>
                    <a class="btn" href="/HomeAdmin/add/">
                        <i class="fas fa-plus"></i>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for new in news %}
                <tr>
                    <td>{{ new.title }}</td>
                    <td>
                        <a class="btn" href="/HomeAdmin/edit/{{ new.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/HomeAdmin/delete/" method="post">
                            <input name="action" value="delete" hidden>
                            <input name="id" value="{{ new.id }}" hidden>
                            <input type="submit" value="SUPPRIMER" class="btn">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



