{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Administration page d'accueil</h1>
    </div>
    <h2>News</h2>
    <ul>
        <div>
            {% for new in news %}
                <li><a href="/HomeAdmin/show/{{ new.id }}">{{ new.id }}. {{ new.title }}</a></li>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
        </div>
    </ul>
    <a href="/HomeAdmin/add">Ajouter</a>
{% endblock %}


