{% extends 'layout.html.twig' %}
{% block title %}Association{% endblock %}
 {% block stylesheet %}
     <link rel="stylesheet" href="/assets/css/association.css">
 {% endblock %}
{% block content %}
    <div class="container-fluid top_page">
        <h1>Les Amis de Roger Toulouse</h1>
        <div class="row">
            <h2 class="subhead">Qui sommes-nous ?</h2>
        </div>

        <div class="row">
            <div class="justify_part">
                <div class="card_text">
                    <div class="card-body assoc_text col-11">
                        {{ association.text|nl2br }}
                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="card-body">
                        <h3 class="card-title">Roger Toulouse</h3>
                    </div>
                    <img src="/assets/upload/{{ association.image }}" class="card-img-top"
                         alt="Photo de Roger toulouse">
                </div>
            </div>
        </div>
    <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
                <h2 class="contact_title">Contactez-nous</h2>
        </div>
    </div>
    <div class="main_container ">
        <div class=" row justify-content-around">
            <div class="form col-md-3">
                <form method="POST" action="">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="name@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="object">Objet</label>
                        <input type="text" name="object" class="form-control" id="message"
                               placeholder="Demande de renseignements "
                               required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" rows="3"
                                  required
                                  placeholder="Quand aura lieu la prochaine exposition sur l'artiste "></textarea>
                    </div>
                    <button>Envoyer !</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}