{% extends 'layout.html.twig' %}

{% block title %}Association{% endblock %}

 {% block stylesheet %}

     <link rel="stylesheet" href="/assets/css/association.css">{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class=" col ">Nous joindre</h2>
        <div class="row justify-content-between">
            <div class="card col-3 ">
                    <div class="card-body">
                        <h5 class="card-title">Contactez-nous</h5>
                        <p class="card-text"><i class="fas fa-phone-alt"> </i> 02 38 54 00 00</p>
                        <p class="card-text"><i class="fas fa-envelope"> </i> 2, impasse Notre-Dame du chemin,
                            45000,
                            Orléans
                        </p>
                        <p class="card-text"><i class="fas fa-at"></i> svv-pousse-cornet-sarl@wanadoo.fr</p>
                    </div>
            </div>

            <div class="formulaire col-3  ">
                <form method="POST" action="">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="name@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Object</label>
                        <input type="text" name="object" class="form-control" placeholder="Obtenir un renseignement"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"
                                  required
                                  placeholder="Quand aura lieu la prochaine exposition de l'artiste "></textarea>
                    </div>
                    <button>Envoyer !</button>
                </form>


            </div>
            <div class="card col-3 ">
                <img class="card-img-top" src="http://terresdeloire.com/images/NOUVEAUSITE/2018/Toulouse/alerte.JPG"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Terres de Loire</h5>
                    <p class="card-text">Description de l'oeuvre.</p>
                    <a href="#" class="btn btn-primary">Voir l'oeuvre !</a>
                </div>
            </div>
            {% endblock %}
