{% extends 'Admin/layout.html.twig' %}

{% block admin %}
    <h1>Edit news {{ news.title }}</h1>
    {% include 'Admin/Home/_form.html.twig' %}
    <a href="/admin/home/show/{{ news.id }}">Back</a>
{% endblock %}
