<form method="post">
    <label for="id" hidden>id</label>
    <input type="hidden" value="{{ biography.id }}" name="id" id="id"><br>
    <label for="date">date</label>
    <input type="date" value="{{ biography.date }}" name="date" id="date"><br>
    <label for="info">info</label>
    <textarea name="info" id="info">{{ biography.info }}</textarea><br>
    <div class="groupBtn">
    <input type="submit" value="{{ btn }} une entrée" class="btn">
</form>
