<h1>Biographie</h1>
<div class="headbio d-inline-flex justify-content-center align-items-center w-100">
    <img class="w-15 p-3" src="/assets/images/roger-toulouse.png" alt="Photomontage de l'artiste Roger Toulouse en 1936, 1ère photo donnée à Marguerite Toulouse">
    <div class="w-60 m-3">
        <h2>Roger TOULOUSE</h2>
        <h3>(1918-1994)</h3>
        <h4>Peintre, sculpteur, illustrateur et poète</h4>
        <p>Roger Alphonse Robert Toulouse, né le 19 février 1918 à Orléans où il est mort le
            11 septembre 1994, est un peintre et sculpteur français, également poète et illustrateur.</p>
    </div>
</div>