{% extends 'layout.html.twig' %}
{% block content %}
    <section class="container">
        {% include '/Biography/_header.html.twig' %}
        {% include '/Biography/_timeline.html.twig' %}
    </section>
{% endblock %}