{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Biographie</h1>
    <ul>
        {% for bio in biography %}
            {% set year = bio.date|split('-') %}
            <li><a href="/Biographie/show/{{ bio.id }}">{{ year.0 }} {{ bio.info }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/Biographie/add">Ajouter</a>
{% endblock %}
