{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/timelify.css">
    <link rel="stylesheet" href="/assets/css/biography.css">
{% endblock %}
{% block content %}
    <section class="container biography">
        {% include '/Biography/_header.html.twig' %}
        {% include '/Biography/_timeline.html.twig' %}
    </section>
{% endblock %}