{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/biography.css">
{% endblock %}
{% block content %}
    <section class="container">
        <h1>Biographie</h1>
            <div>
                {% for year in years %}
                    <h2>{{ year }}</h2>
                    {% for bio in biography %}
                        {% set bioYear = bio.date|split('-') %}
                        {% if year == bioYear.0 %}
                            <ul>
                                <li>
                                    <h3>{{ bio.name }}</h3>
                                    <p>{{ bio.info }}</p>
                                    <a href="/Biographie/show/{{ bio.id }}">show</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% else %}
                        <li>Nothing to display</li>
                    {% endfor %}
                {% endfor %}
                <a href="/Biographie/add/">add</a>
            </div>
    </section>
{% endblock %}
